<div class="w-full mx-auto">
    <img title="First ever Ethereal Card" src="/_events/cordy-drop/ethereal.png" class="object-contain brightness-90" />
    <img title="First ever Ethereal Card" src="/_events/cordy-drop/nitro-cordy.png" class="object-contain brightness-90" />
    <img title="Five new packs to collect!" src="/_events/cordy-drop/packs.png" class="object-contain brightness-90" />

    <a href="https://discord.gg/ZKEezUwzaB" title="Free Cordy Pup for discord members only!">
        <img src="/_events/cordy-drop/free-cordy.png" class="object-contain brightness-80" />
    </a>
</div>

