

<div class="py-20">
    <div class="w-4/5 mx-auto text-center">
        <h3 class="text-4xl font-black">Fan Art Contest</h3>
        <p class="text-xl my-4">Raise your DPS before our season pass.<br />Head over to <code class="text-lg bg-warmGray-800 text-white p-1 rounded-xl">#fanart-puppies</code> channel in our discord server.</p>

        <img src="/_events/season-pass/fanart.png" class="mt-10" />
    </div>
</div>

