---
import BaseLayout from '../layouts/base.astro'
import AllEvents from '../components/AllEvents.astro'
import OpenGraph from '../components/OpenGraphmeta.astro'

---


<BaseLayout title="Welcome">
    <OpenGraph description="View and discover the events that are ongoing and we have!" images="https://events.worldofcryptopups.cf/logo.png" />

    <header class="py-4 bg-warmGray-900">
        <nav class="w-11/12 mx-auto flex flex-col sm:flex-row items-center justify-between">
            <a href="/">
                <img src="/logo.png" width="150" />
            </a>

            <ul class="text-gray-100 flex mt-6 sm:mt-0">
                <li class="mr-8"><a class="font-medium" href="/">Events</a></li>
                <li class="ml-8"><a class="font-medium" href="https://www.worldofcryptopups.cf/">World of Cryptopups</a></li>
            </ul>
        </nav>
    </header>

    <div class="w-11/12 mx-auto">
        <div class="py-20 w-5/6 mx-auto text-center">
            <h1 class="text-5xl tracking-wide font-black text-warmGray-800">World of Cryptopups <span class="underline">Events</span></h1>
            <p class="text-xl mt-8">View and discover the events that are ongoing and we have!</p>
        </div>
    

        <hr class="border-warmGray-300" />

        <div class="w-4/5 mx-auto py-6">
            <AllEvents />
        </div>  
    </div>

    <footer>
    
    </footer>
</BaseLayout>