
<footer class="bg-warmGray-900 py-12">
    <div class="w-5/6 mx-auto flex flex-col xs:flex-row items-center justify-between">
        <a href="/">
            <img src="/logo.png" class="h-8" />
        </a>

        <ul class="flex flex-col text-center text-white text-sm mt-12 xs:mt-0">
            <li class="my-1"><a href="/">Events</a></li>
            <li class="my-1"><a href="https://www.worldofcryptopups.cf/" target="_blank" rel="noreferrer">World of Cryptopups</a></li>
        </ul>
    </div>

    <hr class="border-warmGray-800 w-5/6 mx-auto my-3" />

    <p class="text-sm text-center text-white">All Rights Reserved | &copy; 2021 - World of Cryptopups</p>
</footer>